<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map, heatmap, points;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
           center: {lat: <%= House.instance.location.lat %>, lng: <%= House.instance.location.lng %>},
           zoom: 12
        });
        
        heatmap = new google.maps.visualization.HeatmapLayer({
           data: getPoints()
         }); 
         
        heatmap.setMap(map);
        heatmap.set('gradient', ['rgba(0, 255, 255, 0)',
             'rgba(0, 255, 255, 1)',
             'rgba(0, 191, 255, 1)',
             'rgba(0, 127, 255, 1)',
             'rgba(0, 63, 255, 1)',
             'rgba(0, 0, 255, 1)',
             'rgba(0, 0, 223, 1)',
             'rgba(0, 0, 191, 1)',
             'rgba(0, 0, 159, 1)',
             'rgba(0, 0, 127, 1)',
             'rgba(63, 0, 91, 1)',
             'rgba(127, 0, 63, 1)',
             'rgba(191, 0, 31, 1)',
             'rgba(255, 0, 0, 1)' ]);

         heatmap.set('radius', 20);
         heatmap.set('opacity', 0.5);

       
         function getPoints() {
            return [             
          <% locations.each do |location| %>
               new google.maps.LatLng(<%= location["lat"] %>, <%= location["lng"] %>),
          <% end %>        
            ];
         }               
      }
   
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&libraries=visualization&callback=initMap"
    async defer></script>
  </body>
</html>